<%= render "navbar" %>

<div class="container">
  <h1 class="text-5xl text-center my-5">
    Drinkreen - The real plant based beer
  </h1>

  <% if @beers.length() %>
  <div class="d-flex justify-content-center mb-4">
    <p class="lead text-center" style="max-width: 500px">
      Here's the beers we found
    </p>
  </div>

  <div class="row">
    <% @beers.each do | beer | %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title mb-4"><%= beer.title %></h4>
          <a
            target="_blank"
            href="/beer/<%= beer.id %>"
            class="btn btn-primary mt-auto"
            >More!</a
          >
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
  <div class="d-flex justify-content-center mb-4">
    <p class="lead text-center" style="max-width: 500px">
      Here's the beers we found
    </p>
  </div>
  <% end %>
</div>
