<%= render "navbar" %>

<h1 class="text-5xl text-center my-5">Drinkreen - The real plant based beer</h1>
<p>
  Welcome to the place where vegans can drink any beer without choosing by
  ingredient, but by wonderful tastes!
</p>

<%= render "pagination" %>
